transformers==4.43.1
beir
datasets==2.14.1
tqdm
scipy
evaluate==0.2.2
spacy==3.7.2
accelerate
elasticsearch==7.17.9
torch==2.1.1
debugpy
numpy<2
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.0/en_core_web_sm-3.7.0.tar.gz
